* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Helvetica, sans-serif;
    color: #444;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.about-img, .work-img {
    width: 100%;
}

.header {
    padding: 2% 0
}

.logo {
    margin-top: 1em;
}

hr {
    border: 6px dotted #bbb;
    border-bottom: none;
    width: 6%;
    margin: 10% auto;
}

.work-img {
    margin: 5% auto;
}

#work, #contact, #footer {
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 1em;
    margin: 0.5% auto;
    border-radius: 5px;
    border: 0.5px solid #777;
}

#footer {
    padding: 3%;
    margin-top: 7%;
}

.footer-link {
    margin: 0 0.5em;
}